[tool.poetry]
name = "sakit"
version = "11.0.0"
description = "Solana Agent Kit"
authors = ["Bevan Hunt <bevan@bevanhunt.com>"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/truemagic-coder/solana-agent-kit"
keywords = ["ai", "openai", "ai agents", "agi"]
classifiers = [
    "Programming Language :: Python :: 3 :: Only",
    "Topic :: Scientific/Engineering :: Artificial Intelligence",
]
packages = [{ include = "sakit" }]

[tool.poetry.dependencies]
python = ">=3.12,<4.0"
httpx = "0.28.1"
solana-agent = ">=29.2.2"
boto3 = "1.38.25"
botocore = "1.38.25"
nemo-agent = "5.0.3"
fastmcp = "2.5.1"
solana = "0.36.6"
solders = "0.26.0"
pynacl = "1.5.0"


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.plugins."solana_agent.plugins"]
search_internet = "sakit.search_internet:get_plugin"
mcp = "sakit.mcp:get_plugin"
image_gen = "sakit.image_gen:get_plugin"
nemo_agent = "sakit.nemo_agent:get_plugin"
solana_transfer = "sakit.solana_transfer:get_plugin"
solana_swap = "sakit.solana_swap:get_plugin"
