[tool.poetry]
name = "sakit"
version = "8.1.5"
description = "Solana Agent Kit"
authors = ["Bevan Hunt <bevan@bevanhunt.com>"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/truemagic-coder/solana-agent-kit"
keywords = ["ai", "openai", "ai agents", "agi"]
classifiers = [
    "Programming Language :: Python :: 3 :: Only",
    "Topic :: Scientific/Engineering :: Artificial Intelligence",
]
packages = [{ include = "sakit" }]

[tool.poetry.dependencies]
python = ">=3.12,<4.0"
httpx = "^0.28.1"
mcp = "^1.6.0"
solana-agent = ">=27.3.5"
agentipy = "2.1.1"
solders = "*"
langchain = "^0.3.23"
langchain-openai = "^0.3.14"
mcp-use = "^1.2.7"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.plugins."solana_agent.plugins"]
search_internet = "sakit.search_internet:get_plugin"
mcp = "sakit.mcp:get_plugin"
solana = "sakit.solana:get_plugin"
